body {
    margin: 0;
}

.topnav {
    background-color: #1D2B64;
    display: flex;
    justify-content: flex-end;
    flex: 100%;
    padding: 10px;
    max-width: 1800px;
    min-width: 660px;
}

@media screen and (max-width:992px) {
    .topnav {
        background-color: #F8CDDA;
    }
}

.btn-grad {
    background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%)
}

.btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            border-style: none;
            cursor: pointer;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
header {
    padding: 250px;
    background-color: #1D2B64;
}

@media screen and (max-width: :992px) {
    header {
        background-color: #F8CDDA;
    }
}

@font-face {
    font-family: 'lemon_milkmedium';
    src: url('lemonmilk-medium-webfont.woff2') format('woff2'),
         url('lemonmilk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h4 {
    margin: 0;
    font-size: 20pt;
}

h1 {
    font-family: 'lemon_milkmedium';
    font-size: 101pt;
    display: flex;
    justify-content: center;
    margin: 0;
}

.intro {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 18pt;
}